<div class="container px-1 py-2">
  <div class="row">
    <h2>商品一覧</h2>
    <hr class="heading-line">
    <div class="ml-auto p-4">
      <%= link_to "新規商品登録へ", new_admin_item_path, class: "btn" %>
    </div>
    <%= render "index", items: @items %>
  </div>
  <div class="row">
    <div class="col text-center m-4">
      <%= link_to_prev_page @items, '戻る', class: "paginate py-2 px-4" %>
      <%= link_to_next_page @items, '次へ', class: "paginate py-2 px-4" %>
    </div>
  </div>
</div>
