<div class="genre_search">
  <table class="table table-hover table-bordered">
    <tr>
      <th class="table-secondary text-center"><i class="fa-solid fa-magnifying-glass"></i> ジャンル検索</th>
    </tr>
    <%= form_with url: genre_search_path, method: :get do |f| %>
      <% genres.each do |genre| %>
        <tr onclick='window.location="<%= genre_search_path(genre_id: genre.id) %>"', role="link", class="cursor" >
          <td class="text-center">
            <%= genre.name %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>