<div class="container p-2">
  <div class="row d-flex justify-content-center text-center">

      <div class="col-12">
        <h2 class="about-h2">About</h2>
        <div>
          <h1 class="about-title">『 ながのCAKE』は全国発送可能のケーキ屋さんです。</h1>
          <p class="about-text">
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </p>
        </div>
      </div>
      <div class="col-12 pb-4">
        <%= image_tag 'top-image', class: "w-75" %>
      </div>

      <div class="col-12 mt-4 mx-atuto">
        <h2 class="about-h2">店舗情報</h2>
        <hr class="heading-line">
        <div class="bg-orange mx-atuto">
          <p class="about-text">
            <strong>『 ながのCAKE』</strong><br><br>
            〒 123-4567<br>
            長野県長野市どこかの町3丁目20-24
          </p>
          <p class="about-text btn btn-orange">
    	      <i class="fa-brands fa-instagram"></i> ながのCAKE公式Instagramはこちら
    	    </p>
        </div>
      </div>
  </div>
</div>