<div class="container p-2">
  <div class="row d-flex justify-content-center text-center">

  　<!--トップ画像-->

      <div class="col-12">
        <h2>About</h2>
          <h1>ながのCAKEは全国発送可能のケーキ屋さんです。</h1>
          <p>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </p>
      </div>
      <div class="col-12">
        <%= image_tag 'top-image', class: "" %>
      </div>

      <div class="col-12 mt-4 mx-atuto">
        <h2>店舗情報</h2>
        <div class="mx-atuto">
          <p>
            <strong>ながのCAKE</strong><br>
            〒 123-4567  長野県長野市どこかの町3丁目20-24
          </p>
          <p>
    	      <i class="fa-brands fa-instagram"></i> ながのCAKE公式Instagram
    	    </p>
        </div>
      </div>
  </div>
</div>