<div class="infomation container">
  <div class="row bg-orange mt-5">
    <div class="col-12 col-md-10 mx-auto my-4">
      <h2 class="mb-4">特定商取引法に基づく表記</h2>
      <hr class="heading-line">
      <h3>事業者の名称</h3>
      <p>長野恵来 （販売責任者）</p>

      <h3>事業者の所在地</h3>
      <p>
        〒123-4567<br>
        長野県長野市どこかの町3丁目20-24
      </p>

      <h3>事業者の連絡先</h3>
      <p>123-456-7891</p>

      <h3>営業時間・ショップ情報など</h3>
      <p>
        営業時間：11:00〜17:00<br>
        定休日：金曜日
      </p>

      <h3>販売価格</h3>
      <p>
        販売価格は、税込み表記となっております。<br>
        また、別途配送料が掛かる場合もございます。<br>
        配送料は全国一律800円となっています。
      </p>

      <h3>代金の支払方法・時期</h3>
      <p>
        クレジットカードによる決済がご利用いただけます。<br>
        支払時期：商品注文確定時にお支払いが確定いたします。<br><br>
        銀行振込決済（ご請求後5営業日以内のお支払い）<br>
        支払い手数料：360円（税込）
      </p>

      <h3>商品のお届け時期</h3>
      <p>
        代金のお支払い確定後、８日以内に発送いたします。
      </p>

      <h3>返品について</h3>
      <p>
        ご注文の品と違う商品が届いてしまった場合、<br>
        商品の破損・傷みなどの品質上の問題があった場合には、<br>
        商品到着日から2日以内に弊社にご連絡の上、送料着払いにてご返品後、良品と交換もしくは返金させて頂きます。<br>
        ※以降の返品はできません。
      </p>
    </div>
  </div>
</div>