<div class="container px-1 py-2">
  <div class="row">
    <h2>会員一覧</h2>
    <%= render "index", customers: @customers %>
  </div>
  <div class="row">
    <div class="col text-center m-4">
      <%= link_to_prev_page @customers, '戻る', class: "paginate py-2 px-4" %>
      <%= link_to_next_page @customers, '次へ', class: "paginate py-2 px-4" %>
    </div>
  </div>
</div>
