<% if @type === "items" %>
<div class="container px-1 py-2">
  <div class="row">
    <h2>"<%= @search %>"に一致する商品</h2>
    <% render "admin/items/index", items: @results %>
    <%= paginate @results, theme: 'bootstrap-5' %>
  </div>

<% else %>
<div class="container px-1 py-2">
  <div class="row">
    <h2>"<%= @search %>"に一致する会員</h2>
    <% render "admin/items/index", items: @results %>
    <%= paginate @results, theme: 'bootstrap-5' %>
  </div>
</div>
<% end %>