<h2>ジャンル編集</h2>

<%= form_with model: @genre, url: admin_genre_path, method: :patch, local: true do |f| %>
  <div class="">ジャンル名</div>
  <%= f.text_field :name, class: "genre-text-field" %>
  <%= f.submit "変更を保存", class: "submit-btn" %>
<% end %>
