@use '~bootstrap/scss/bootstrap';

// layout

.bg-img {
  background-image: url("../../assets/images/header3.jpg");
}

.reas-bg {
  height: 29px;
  background-image: url("../../assets/images/reasred2.png");
}

footer {
  background-color: #FF9B52;
}

// kaminari

.paginate {
  text-decoration: none;
  color: #C45200;
  border: 1px solid #FF9B52;
  border-radius: 16px;
}

.paginate:hover {
  background-color: #FF9B52;
  text-decoration: none;
  color: #fff;
}

// cursor関連

.cursor {
  cursor: pointer;
}

// テーブル関連

.color-orange {
  background-color: #FFFDE6;
}

.color-orange:hover {
  background-color: #FFFBCC;
}

.genre-bg:hover {
  background-color: #FFFBCC;
}

.pointer-none {
  pointer-events: none;
}

// 商品一覧の余白

.item-border{
  border-width: 5px !important;
  border-radius: 16px !important;
  border-color: #fff !important;
}
