@use '~bootstrap/scss/bootstrap';

// layout header footer

.bg-img {
  background-image: url("../../assets/images/header3.jpg");
}

.reas-bg {
  height: 29px;
  background-image: url("../../assets/images/reasred2.png");
}

.header-btn {
  background: #308029;
  border-radius: 0px;
  text-decoration: none;
  color: #fff;
}

.header-btn:hover {
  background: #1D4D18;
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #a96021;
}

.btn {
  border-radius: 0px;
}

// kaminari

.paginate {
  text-decoration: none;
  color: #a96021;
  border: 1px solid #a96021;
}

.paginate:hover {
  background-color: #a96021;
  text-decoration: none;
  color: #fff;
}

// cursor関連

.cursor {
  cursor: pointer;
}

// テーブル関連

.color-orange {
  background-color: #FFF5ED;
}

.color-green {
  background-color: #308029;
}

.color-orange:hover {
  background-color: #FFD5B3;
}

.genre-bg:hover {
  background-color: #A8E6A1;
}

.pointer-none {
  pointer-events: none;
}

// 商品一覧の余白

.item-border{
  border-width: 5px !important;
  border-radius: 0px !important;
  border-color: #fff !important;
}
