@use '~bootstrap/scss/bootstrap';

header {
  background-color: #C4A690;
}

footer {
  background-color: #C4A690;
}

.cursor {
  cursor: pointer;
}

.item-border{
  border-width: 5px !important;
  border-radius: 16px !important;
  border-color: #fff !important;
}
