<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h2 class="my-5 text-center">ご注文ありがとうございました！</h2>
      <p class="text-left mx-3">
        ご注文が完了いたしました。<br>
        ご登録いただいたメールアドレスにご注文詳細確認メールを送信しましたのでご確認ください。<br>
        銀行振込、またはクレジットカードからのご入金が確認できましたら、再度ご注文確定メールをお送りして商品の製作に入ります。<br>
        ご入金のタイミングによっては商品の発送日が遅れますことをご了承ください。
      </p>
      <div>
        <%= image_tag 'thanks', class: "img-fluid img-resize, rounded" %>
      </div>
      <div class="col text-center mt-4">
        <%= link_to "TOPへ戻る", root_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>