<div class="container">
  <div class="row">
    <div class="col text-center">
    <h2 class="my-5">ご注文ありがとうございました！</h2>
    <!--後で何か画像入れる-->
    <%= image_tag 'top-image', class: "" %>
    </div>
  </div>
</div>