<div class="container px-1 py-2">
  <div class="row">
    <div class="col-xl-2">
      <%= render 'public/searches/genre_sidebar', genres: @genres %>
    </div>
    <div class="col-xl-10">
      <div class="d-flex align-items-center">
        <h2>商品一覧</h2>
        <p class="m-3 mb-0"> (全<%= @items_all_counter.count %>件)</p>
      </div>
      <%= render "items_index", items: @items %>
      <%= paginate @items, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>