<footer>
  <div class="container mt-5 pt-3 pb-4" style="background-color:#94846a;">
  	<div class="row">
    	<div class="mx-auto text-white">
    		<p>Copyright © NAGANO CAKE All Rights Reserved.</p>
    	</div>
    </div>
  </div>
</footer>
